/* adds gradient to header */
.weather-header {
    background: rgb(16,53,92);
    background: radial-gradient(circle, rgba(16,53,92,1) 50%, rgba(35,155,224,1) 85%);
}

.weather-search {
    height: 2.5rem;
}

#search-button {
    border-radius: 0.25rem;
}

.city {
    background-color: #aeaeae !important;
    color: #444444 !important;
    border: 0;
    border-radius: 0.25rem;
    height: 2rem;
}

#todayContainer {
    border: 1px solid #444444;
    border-radius: 0.25rem;
    padding-left: 5px;
}

#todayContainer div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#cityDateIconEl {
    margin-bottom: -5px;
}

.forecastDay {
    background-color: #587ca2 !important;
    color: white !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-bottom: 15px !important;
}

.card-title {
    padding: 5px !important;
    margin: 0 !important;
}

.card-body {
    padding: 0 !important;
}

.card-body > * {
    padding: 5px !important;
}

.card-body > img {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}